.container {
    width: 30%;
}

.container__caption {
    font-family: 'Fontimerr Light', Helvetica, sans-serif;
    font-size: 14pt;
    color: rgb(28, 139, 192);
}

.container__slogan {
    font-family: 'Fontimerr Bold', Helvetica, sans-serif;
    font-size: 32pt;
    margin: 3px 0 18px 0;
}

.container__text {
    line-height: 171%;
    font-family: 'Fontimerr Regular', Helvetica, sans-serif;
    font-size: 16pt;
    color: #1c8bc0;
}

.slogan_colored {
    color: #26658c;
}

.container__button {
    font-family: 'Fontimerr Light', Helvetica, sans-serif;
    padding: 10px 20px;
    font-size: 10pt;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #26658c;
    margin: 34px 0 50px 0;
}

.container__button:hover {
    background-color: rgba(38, 101, 140, 0.9);
    transition: 0.2s;
    cursor: pointer;
}

/* Планшеты (768px–1024px) */
@media only screen and (max-width: 1024px) {
    .container {
        width: 50%; 
    }
    .container__slogan {
        font-size: 24pt;
       /* text-align: center;*/
    }
    .container__text {
        font-size: 14pt; 
        /*text-align: center;*/
    }
    .container__button {
        padding: 8px 16px; 
        font-size: 9pt;
    }
}

/* Мобильные (<768px) */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .container__caption {
        font-size: 12pt; 
       /* text-align: center;*/
    }
    .container__slogan {
        font-size: 20pt; 
        /*text-align: center;*/
    }
    .container__text {
        font-size: 12pt; 
        line-height: 150%;
        /*text-align: center;*/
    }
    .container__button {
        width: 100%;
        padding: 12px; 
        font-size: 10pt;
    }
}