.section-reviews{
    background-color: #000;
    position: relative;
    padding: 230px 7% 0 3.6%;
    overflow: visible;
    max-width: 100vw;
    width: 100%;
    height: 120vh;
    box-sizing: border-box;
}

.section-reviews > .container {
    height: 350px;
}

.section-reviews__img {
    width: 55%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: -184px;
    right: 0;
    object-fit: contain;
}

.section-reviews .container__slogan {
    color: #FFF;
}

.cards__review-1, .cards__review-2, .cards__review-3, .cards__review-4 {
    width: 290px;
    height: /*216px*/ auto;
    background-color: #202020;
    padding: 25px;
    color: #FFF;
    z-index: 2;
}

.review__text{
    line-height: 108%;
    font-size: 13pt;
    font-weight: bold;
    margin: 0 0 17px 0;
}

.review__img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.review__author{
    display: flex;
    align-items: center;
}

.author__name {
    font-size: 11pt;
    margin: 0 0 4px 0;
}

.author__artist{
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.cards__review-1 {
    position: absolute;
    top: 146px;
    right: 507px;
}

.cards__review-2 {
    position: absolute;
    top: 146px;
    right: 120px;
}

.cards__review-3{
    position: absolute;
    top: 461px;
    right: 440px;
}

.cards__review-4{
    position: absolute;
    top: 461px;
    right: 53px;
}