.section-reviews{
    background-color: #000;
    position: relative;
    padding: 230px 7% 0 3.6%;
    overflow: visible;
    max-width: 100vw;
    width: 100%;
    height: 120vh;
    box-sizing: border-box;
}

.section-reviews > .container {
    height: 350px;
}

.section-reviews__img {
    width: 55%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: -184px;
    right: 0;
    object-fit: contain;
}

.section-reviews .container__slogan {
    color: #FFF;
}